SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_RELEASE=khod-whaat-orders@1.0.4
SENTRY_TRACES_SAMPLE_RATE=0.15
SENTRY_ERROR_SAMPLE_RATE=1.0
SENTRY_ENABLE_DEV=0
SENTRY_DEBUG=0

# Required only when uploading source files/source maps:
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
